<ion-header >
  <ion-toolbar color="secondary">
    <ion-title text-center>ثبت اطلاعات جدید</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >


  <ion-grid >
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="9">

  <ion-card color="secondary">
    <ion-card-header class="ion-text-right">
      <ion-card-subtitle> ثبت اطلاعات  </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>


      <ion-item >
        <ion-label position="floating"class="ion-text-right" >نام</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"class="ion-text-right"> نام خانوادگی</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"class="ion-text-right">کد ملی</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"class="ion-text-right">تاریخ تولد</ion-label>
        <ion-input></ion-input>
      </ion-item>


      <ion-item >
        <ion-label position="floating" class="ion-text-right">آدرس</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"class="ion-text-right"> شماره تلفن</ion-label>
        <ion-input required type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"class="ion-text-right">تلفن ثابت</ion-label>
        <ion-input></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating"class="ion-text-right">ایمیل</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>




    </ion-card-content>
  </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center" >
      <ion-col size="8" >
    <ion-card color="secondary" >
      <ion-card-header class="ion-text-right">
        <ion-card-subtitle>عکس کاربری</ion-card-subtitle>
      </ion-card-header>
        <ion-card-content>
          <ion-item class="second">
            <ion-label id="profile_image" color="primary" stacked>Enter your image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
</ion-row>
</ion-grid>










</ion-content>
