ion-col {
  display: flex;
  justify-content: center;
  padding: 4px;
}
ion-card {
  background: #7ecc88;
  margin-bottom: 12px;
  margin-top: 12px;
  width: 100%;
}

ion-header {
  background: #d4b3cf;
  margin-bottom: 12px;
}

