<ion-header [translucent]="true">
  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.src"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list> -->
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
     Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card color="secondary">
      <ion-card-header>
<div class="ion-text-center">
        <ion-card-title>Image</ion-card-title></div>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label id="profile_image" color="primary" stacked>Enter your image</ion-label>
          <ion-input type="file" accept="image/*" ></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>





<ion-grid class="ion-margin">
  <ion-row>

    <ion-col size="9">
<ion-card color="secondary">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle><div class="ion-text-center">
    <ion-card-title>اطلاعات مادر</ion-card-title></div>
  </ion-card-header>

  <ion-card-content>
    <ion-grid class="ion-margin">
      <ion-row>

        <ion-item><div class="ion-text-center">
          <ion-label position="stacked">Name</ion-label>
          <ion-input></ion-input></div>
        </ion-item><ion-item><div class="ion-text-center">
          <ion-label position="stacked">ID Code</ion-label>
          <ion-input></ion-input>
       </div> </ion-item>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col size="3">
  <ion-card color="secondary">
    <ion-card-header class="ion-text-right">

      <ion-card-title> <div class="ion-text-center">دسترسی و ویرایش فرم اطلاعات اولیه</div></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      .
      .
      .
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>


<ion-grid class="ion-margin">
  <ion-row>

    <ion-col size="9">
<ion-card color="secondary">
  <ion-card-header class="ion-text-right">
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title> <div class="ion-text-center">نتایج پرسشنامه سلامت روان</div></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="ion-margin">
      <ion-row>

        <ion-col><ion-item href="#" class="ion-activated">
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 1</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item href="#">
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 2</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item class="ion-activated">
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 3</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item>
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 4</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>

      </ion-row>
      <ion-row>

        <ion-col><ion-item href="#" class="ion-activated">
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item href="#">
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item class="ion-activated">
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item>
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>

      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col size="3">
  <ion-card color="secondary">
    <ion-card-header class="ion-text-right">

      <ion-card-title> <div class="ion-text-center">نتایج پرسشنامه زیگوسیتی یا همسان بودن که توسط مادر پر شده است</div></ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">     نتایج زیگوسیتی حاصل از DNA</ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>



<ion-grid class="ion-margin">
  <ion-row>

    <ion-col size="9">
<ion-card color="secondary">
  <ion-card-header class="ion-text-right">
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title> <div class="ion-text-center">نتایج  تست های آزمایشگاهی</div></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="ion-margin">
      <ion-row>

        <ion-col><ion-item href="#" class="ion-activated">
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 1</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item href="#">
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 2</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item class="ion-activated">
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 3</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item>
          <ion-icon name="accessibility-outline"></ion-icon>
          <ion-label>Twin 4</ion-label>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>

      </ion-row>
      <ion-row>

        <ion-col><ion-item href="#" class="ion-activated">
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item href="#">
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item class="ion-activated">
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>
        <ion-col><ion-item>
          <ion-item>
            <ion-label id="profile_image" color="primary" stacked> image</ion-label>
            <ion-input type="file" accept="image/*" ></ion-input>
          </ion-item>
          <!-- Input with placeholder -->
      <ion-input placeholder="results"></ion-input>
        </ion-item></ion-col>

      </ion-row>




    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-col>
<ion-col size="3">
  <ion-card color="secondary">
    <ion-card-header>

      <ion-card-title> <div class="ion-text-center">Navigate</div></ion-card-title>
    </ion-card-header>

    <ion-card-content><div class="ion-text-center">
     Reports</div>
    </ion-card-content>
    <ion-card-content><div class="ion-text-center">
     other links</div>
     </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>
  </div>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer> -->
<ion-footer collapse="fade">
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home">Home</ion-tab-button>
      <ion-tab-button tab="contact"> اخبار</ion-tab-button>
      <ion-tab-button tab="settings">   آموزش های لازم</ion-tab-button>
      <ion-tab-button tab="settings">Site Maps</ion-tab-button>
      <ion-tab-button tab="settings">Links</ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  
</ion-footer>